<html>

<head> Hello from Ansible </head>
<body>
<h1> Congraturations.. </h1>
<p> Nice job {{ username }}!! You have sucessfully ran your first playbook!!
Roles are working now..  </p>
</body>
</html>
